#ia {
	text-decoration: none;
	color: white;
}

#inav {
	margin-right: 10%;
}

#ili {
	float: right;
	list-style: none;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

#isocial {
	display: inline;
	position: fixed;
}

body
{
	background-color: #333333;
	font-family: Arial;
	color: white;
}

.form-div{
	min-width: 900px;
	padding-top: 5%;
	padding-left: 20%;
}

#movie-list {
	margin: auto;
    width: 60%;
    padding: 10px;
}

#poster {
	float: right;
	width: 49%;
}

#info {
	float: left;
	width: 49%;
}

#number-text {
	margin: auto;
	width: 60%;
	padding: 10px;
}

#next-button {
	position: inline-block;
	width: 10%;
	margin-top: 5%;
	padding: 5px;	
}

#about-div {
	margin-left: 10%;
	margin-top: 10%;
	margin-right: 10%;
}